<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Club</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('./navbar') %>
    <form action="/join" method="post">
      <h1>Join Members Club</h1>
      <h3>Enter Secret Code</h3>
      <div class="input">
        <label for="code">Secret Code</label>
        <input type="text" name="code" id="code" />
      </div>
      <button type="submit">Join</button>
    </form>
  </body>
</html>
